<!DOCTYPE html>
<html lang="en" class="bg-gray-200">

<head>
    <meta charset="UTF-8">
    <title>
        <%= locals.title || "Express OpenID Connect" %>
    </title>
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2.0/dist/tailwind.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="shortcut icon" href="//cdn2.auth0.com/styleguide/latest/lib/logos/img/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>


    <nav class="nav flex items-center justify-end flex-wrap p-6">
        <% if (locals.user) { %>
            <div class=" relative text-left">
                
                <button type="button"
                    class="dropdown-btn inline-flex w-full justify-center gap-x-1.5 glass-blur px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300"
                    id="menu-button" aria-expanded="false" aria-haspopup="true">
                    
                    <%= locals.user.nickname %>
                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                            clip-rule="evenodd" />
                    </svg>
                </button>

                
                <div class="dropdown-menu absolute right-0 z-10 mt-2 origin-top-right rounded-md glass-blur shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
                    <div class="py-1" role="none">
                        <a href="/"
                            class="dropdown-child">Home</a>
                        <a href="/profile"
                            class="dropdown-child">Profile</a>
                        <a href="/logout"
                            class="dropdown-child">Logout</a>
                    </div>
                </div>

                <% } %>
            </div>
        </nav>
    <script>
        document.getElementById('menu-button').addEventListener('click', function() {
          var expanded = this.getAttribute('aria-expanded') === 'true' || false;
          this.setAttribute('aria-expanded', !expanded);
        });
    </script>