<%- include('partials/header') -%>

    <% if (locals.isAuthenticated) { %>

        <div style="display: inline-block">
            <div id="overlappingDiv">
        </div>

        <div id="whiteboard">
                <h1>Welcome to the Gorilla Board</h1>
                <canvas id="whiteboard_canvas" width="800" height="400">Canvas</canvas>
                <div class="button ">
                    <button id="select" onclick="select()">Select</button>
                    <button id="rect" onclick="rectangle()">Rectangle</button>
                    <button id="draw" onclick="draw()">Draw</button>
                    <button id="text" onclick="text()">Text</button>
                </div>
                <button id="exit" onclick="exitWhiteboard()">Exit</button>
        </div>

        <div id="hidden-container">
            <div id="chat">
                <div id="chat-window" class="glass-blur">
                    <div class="close" id="close-hidden-container">X</div>
                    <div id="output">
                    </div>
                    <div id="feedback"></div>
                    <div class="buttons">
                        <textarea id="message" placeholder="Message"></textarea>
                        <button id="send">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <canvas id="mainCanvas"></canvas>

        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
            integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/action.js"></script>
        <script src="/action2.js"></script>
        <script src="/collisions.js"></script>
        <script src="/classes.js"></script>
        <script src="/index.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.0.0/fabric.min.js"></script>
        <script src="/whiteboard.js"></script>
        <script>
            document.getElementById('send').addEventListener('click', function () {
                var message = document.getElementById('message').value;
                document.getElementById('output').innerHTML += '<div class=\'p-output\'>' + message + '</div>';
                document.getElementById('output').innerHTML += '<div class=\'p-feedback\'> I am not yet smart enough T-T</div>';
                var message = document.getElementById('message').value = '';
            });

            document.getElementById('close-hidden-container').addEventListener('click', function () {
                document.getElementById('hidden-container').style.visibility = 'hidden';
            });
        </script>

        <% } else { %>

            <div style="width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center;">
                <a href="/login" class="login-btn p-6"> plz login :)</a>
            </div>
            <% } %>

                <%- include('partials/footer') -%>